* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: black;
    font-family: arial, sans-serif;
    font-size: small;
}

h1 {
    font: 1.5em georgia, serif;
}

h1,
a {
    color: orange;
}

p {
    line-height: 1.5;
    margin: 0 0 1em;
}

div#container {
    display: grid;
    height: 100vh;
    grid-auto-rows: auto 1fr auto;
    grid-template-columns: 1fr 1fr;
}

div#header {
    padding: 1em;
    background: #2c2c2c;
    color: #ffffff;
    border-bottom: 6px double gray;
    grid-column: 1/-1;
}

div#header>a {
    text-decoration: none;
}

div#footer {
    background: #ddd;
    border-top: 6px double gray;
    grid-column: 1/-1;
}

div#footer pre {
    padding: 1em;
    margin: 0;
}

div#input {
    grid-column: 1;
}

div#output {
    grid-column: 2;
}

.editor {
    background: #2c2c2c;
    color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-family: "JetBrains Mono";
    font-size: 1.2rem;
    line-height: 1.2;
    letter-spacing: normal;
    padding: 10px;
    margin: 5px;
    tab-size: 2;
}